.header-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

#container {
  padding: 16px;
}

.summary-card {
  border-radius: 12px;
  margin-bottom: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.mesa-card {
  margin-bottom: 16px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}



.card-subtitle {
  font-size: 1rem;
  color: #343a40; /* Gris oscuro para contraste */
}

.tables-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
}

ion-button {
  --border-radius: 12px;
  font-weight: bold;
}
